.Select-text a:hover {
    background-color: #df1414;
    color: #f3e2c2;
  }
h3{
    user-select: 'none';
}

.div-botons{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

@media (max-width: 900px) {
    .div-botons{
      display: flex;
      flex-direction: column;
    }
}