/* validar campos de los input */
  input:invalid + span:after {
    content: "X";
    /* content: "✖"; */
    padding-left:1px;
    color: red;
  }
  
  input:valid + span:after {
    content: "✓";
    /* content:'✔'; */
    padding-left: 0;
    color: green;
  }

  .link-files {
    display: flex;
    flex-direction: row;
  }

  .ancho-tabla{
    width: 52vw;
  }

  @media (max-width: 900px) {
    .link-files{
      flex-direction: column;
    }
    .ancho-tabla{
      width: 82vw;
    }
  }