.search-box{
    font-size: 20px;
    border: solid 0.3em #000000;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
}

.div-botons{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

@media (max-width: 900px) {
    .div-botons{
      display: flex;
      flex-direction: column;
    }
}